Repository ostis-ai/py-sc-kpm, pull requests merged in 2022-12, with the labels that each got.

#18 Change list to set in sc_module and sc_server
  src/sc_kpm/sc_module.py
  src/sc_kpm/sc_server.py
Labels: refactoring

#22 Update README.md
  README.md
  docs/schemes/gwf/set.gwf
  docs/schemes/gwf/structure.gwf
  docs/schemes/gwf/structure_circuit.gwf
  docs/schemes/png/set.png
  docs/schemes/png/structure.png
  docs/schemes/png/structure_circuit.png
Labels: docs

#24 Add get_element_by_norole_relation
  README.md
  src/sc_kpm/utils/__init__.py
  src/sc_kpm/utils/common_utils.py
  tests/test_utils/test_common_utils.py
Labels: docs, feature, tests

#17 Remove sc-client imports from init
  README.md
  docs/examples/register_and_wait_for_user.py
  docs/examples/sum_agent.py
  docs/examples/sum_agent_classic.py
  src/sc_kpm/__init__.py
  src/sc_kpm/utils/__init__.py
  tests/test_classes.py
Labels: docs, refactor
